@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
}

body {
  padding: 5px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}

.navbar {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  width: 100%;
}

.navbar .main-menu ul {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 2px;
}

.main-menu ul li {
  padding: 10px;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: rgb(44, 41, 238);
}

a:hover {
  color: #000;
}

.currentDate {
  padding: 5px;
  width: 100%;
  text-align: right;
}

#add-new {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.wrapper main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 42px;
  padding: 10px;
}

.book-lists {
  width: 100%;
  display: none;
}

.books-display {
  border: 2px solid gray;
  border-radius: 2px;
  width: 100%;
  margin: 0 auto 24px;
}

#books {
  border-collapse: collapse;
  width: 100%;
}

#books td {
  justify-content: space-between;
  text-align: left;
  vertical-align: middle;
  padding: 10px;
}

#books tbody:nth-child(even) {
  background-color: #f2f2f2;
}

.re {
  padding: 2px 10px;
  border: 2px solid black;
}

.add-book {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 20%;
}

.title-add-new {
  margin-top: 14px;
}

.title-add-new h3 {
  font-size: 34px;
}

.title,
.author {
  width: 100%;
}

.book,
.Author {
  padding: 8px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid black;
}

.add-book-button {
  padding: 0 15px;
  margin-top: 10px;
}

.btn-remove {
  width: 80px;
}

.btn-book-name {
  padding-left: 10px;
}

form.book-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.footer-border {
  border: 2px solid black;
  padding: 0 10px;
}

.new-entry {
  display: none;
  width: 100%;
  height: 100%;
  padding: 10% 0;
}

.active {
  display: block;
}

.contact-us {
  display: none;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 10%;
}

ul.info {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 4px;
}
